{% extends 'base.html.twig' %}

{% block title %} Dashboard {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="//unpkg.com/grapesjs/dist/css/grapes.min.css">
    <script src="//unpkg.com/grapesjs"></script>
{% endblock %}

{% block body %} 
    <div id="gjs">
        <h1> hello world components !</h1>
    </div>
    
{% endblock %}

{% block javascripts %}  
    <script type="text/javascript">
      var editor = grapesjs.init({
            container : '#gjs',
            style: '.txt-red{color: red}',          
            fromElement: true,
            width: 'auto',
            height: '300px',
            storageManager: {type: null},
            panels: {default: []},
      });
    </script>
{% endblock %}

{% block css %}
    <style>
        #gjs {
               border: 3px solid #444;
        }   

        /* Reset some default styling */
        .gjs-cv-canvas {
                top: 0;
                width: 50%;
                height: 100%;
        }
    </style>
{% endblock %}

